/* content title  */
#title
{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

/* tab menu */
.nav-tabs
{
	margin: 0 auto;
	text-align: center;
}

.nav-tabs > li
{
	display: inline-block;
	float: none;
	padding: 0;
	font-size: 18px;
	font-weight: 600;
}

.nav-tabs > li.active
{
	border-bottom: 3px solid #23a8f5;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus
{
	display: block;
	width: 100%;
	border: none;
	background: #ffffff;
}

/* tab content */
.tab-content .tab-pane
{
	padding: 20px 10px;
}

.introduction-view > .title
{
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}

.introduction-view > .meta
{
	margin: 10px auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.introduction-view > .meta > .time
{
	font-size: 18px;
}

.introduction-view > .meta > .institute,
.introduction-view > .meta > .location
{
	font-size: 16px;
}

.introduction-view > p
{
	padding: 0 100px;
	font-size: 16px;
	margin-bottom: 30px;
	text-align: justify;
	text-justify: inter-ideograph;
}

.sponsors-view > .title
{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.sponsors-view > .sponsors-detail
{
	padding: 0;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.sponsors-view > .sponsors-detail .row.space
{
	height: 20px;
}

.sponsors-view > .sponsors-detail .row img
{
    margin: 0 auto;
}

.bold
{
	font-weight: 600;
}

.italic
{
	font-style: italic;
}

.underline
{
	text-decoration: underline;
}

/* icon */
.sponsors-view > .sponsors-detail .row img.nsfc
{
	margin-top: 50px;
}

.sponsors-view > .sponsors-detail .row img.sri
{
	margin-top: 20px;
}

/* responsive css */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
/* 默认样式为大屏幕 */

/* 中等屏幕（桌面显示器，大于等于 992px，小于1200px） */
@media (max-width: 1200px) { 

}

/* 小屏幕（平板，大于等于 768px，小于等于992px） */
@media (max-width: 992px) {
	.introduction-view > p
	{
		padding: 0 20px;
	}
}

/* 	超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
	#title
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.nav-tabs > li
	{
		font-size: 14px;
	}

	.introduction-view > p
	{
		padding: 0 10px;
	}

	.sponsors-view > .sponsors-detail .row img.nsfc,
	.sponsors-view > .sponsors-detail .row img.sri
	{
		margin-top: 0px;
	}
}