/* content title  */
#title
{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

#sub-title
{
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 0 260px;
	text-align: center;
}

/* content */
.issues > .issue
{
	margin: 0 130px;
	padding: 0 150px;
    margin-bottom: 50px;
    line-height: 25px;
    font-size: 16px;
}

.issues > .issue > .issue-title
{
	margin-bottom: 10px;
}

.issues > .issue > .issue-content > p
{
	padding: 4px 0px;
	font-size: 16px;
	text-align: justify;
	text-justify: inter-ideograph;
}

.issues > .issue > .issue-picture
{
	text-align: center;
}

.issues > .issue > .issue-picture > img
{
	margin: 0 auto;
	max-width: 200px;
}

.issues > .issues-continue
{
	margin: 0 130px;
	padding: 0 150px;
    margin-bottom: 120px;
    line-height: 25px;
    font-size: 16px;
}


/* responsive css */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
/* 默认样式为大屏幕 */

/* 中等屏幕（桌面显示器，大于等于 992px，小于1200px） */
@media (max-width: 1200px) { 
	#sub-title
	{
		padding: 0 200px;
	}

	.issues > .issue
	{
		margin: 0 100px;
		margin-bottom: 50px;
		padding: 0 100px;
	}

	.issues > .issues-continue
	{
		margin: 0 100px;
		margin-bottom: 120px;
		padding: 0 100px;
	}
}

/* 小屏幕（平板，大于等于 768px，小于等于992px） */
@media (max-width: 992px) {
	#sub-title
	{
		padding: 0 100px;
	}

	.issues > .issue
	{
		margin: 0 50px;
		margin-bottom: 50px;
		padding: 0 50px;
	}

	.issues > .issues-continue
	{
		margin: 0 50px;
		margin-bottom: 80px;
		padding: 0 50px;
	}
}

/* 	超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
	#title
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	#sub-title
	{
		margin-bottom: 20px;
		padding: 0 20px;
		line-height: 25px;
		font-size: 18px;
	}

	.issues > .issue
	{
		margin: 0 10px;
		margin-bottom: 50px;
		padding: 0 10px;
	}

	.issues > .issue > .issue-title
	{
		font-size: 16px;
		font-weight: 600;
	}

	.issues > .issue > .issue-content > p
	{
		font-size: 15px;
	}

	.issues > .issues-continue
	{
		margin: 0 10px;
		margin-bottom: 80px;
		padding: 0 10px;
	}

	.issues > .issues-continue > h3
	{
		font-size: 18px;
	}
}