/* content title  */
#title
{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

/* content */
.registration-notify,
.registration-detail,
.registration-form,
.registration-email,
.offical-wechat-platform
{
	margin-left: 120px;
	margin-right: 120px;
	margin-bottom: 50px;
	padding: 0 100px;
	line-height: 25px;
    font-size: 16px;
}

.registration-notify > h4
{
	font-size: 22px;
	font-weight: 600;
	color: red;
}

.registration-detail > .detail-title 
{
	font-size: 22px;
	font-weight: 600;
}

.registration-form > a
{
	font-size: 18px;
	font-weight: 600;
}

.registration-email > h4
{
	line-height: 40px;
}

.registration-email > h4 > .focus
{
	font-weight: 600;
}

.offical-wechat-platform
{
	text-align: center;
}

.offical-wechat-platform > .feedback
{
	margin-bottom: 50px;
	text-align: left;
}

.offical-wechat-platform > img
{
	margin: 0 auto;
	max-width: 150px;
}


/* responsive css */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
/* 默认样式为大屏幕 */

/* 中等屏幕（桌面显示器，大于等于 992px，小于1200px） */
@media (max-width: 1200px) { 
	.registration-notify,
	.registration-detail,
	.registration-form,
	.registration-email,
	.offical-wechat-platform
	{
		margin-left: 60px;
		margin-right: 60px;
		padding: 0 50px;
	}
}

/* 小屏幕（平板，大于等于 768px，小于等于992px） */
@media (max-width: 992px) {
	.registration-notify,
	.registration-detail,
	.registration-form,
	.registration-email,
	.offical-wechat-platform
	{
		margin-left: 40px;
		margin-right: 40px;
		padding: 0 30px;
	}
}

/* 	超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
	#title
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.registration-notify,
	.registration-detail,
	.registration-form,
	.registration-email,
	.offical-wechat-platform
	{
		margin-left: 10px;
		margin-right: 10px;
		padding: 0 10px;
	}

	.registration-notify > h4
	{
		font-size: 18px;
	}
}