.elementor-705 .elementor-element.elementor-element-b798321>.elementor-container {
    min-height: 600px;
}

.elementor-705 .elementor-element.elementor-element-b798321>.elementor-background-overlay {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    mix-blend-mode: overlay;
}

.elementor-bc-flex-widget .elementor-705 .elementor-element.elementor-element-4d1df3c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-705 .elementor-element.elementor-element-4d1df3c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-705 .elementor-element.elementor-element-4d1df3c>.elementor-element-populated {
    padding: 6em 6em 6em 6em;
}

.elementor-705 .elementor-element.elementor-element-4d1df3c {
    min-height: 600px;
}

.elementor-705 .elementor-element.elementor-element-a8cdabb .elementor-heading-title {
    color: var( --e-global-color-934e477);
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 4em;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.elementor-705 .elementor-element.elementor-element-a8cdabb>.elementor-widget-container {
    padding: 0% 35% 0% 0%;
}

.elementor-705 .elementor-element.elementor-element-45da057 .elementor-heading-title {
    color: var( --e-global-color-934e477);
    font-family: "Roboto", Sans-serif;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.elementor-705 .elementor-element.elementor-element-45da057>.elementor-widget-container {
    margin: 0em 0em 2em 0em;
    padding: 0% 20% 0% 0%;
}

.elementor-705 .elementor-element.elementor-element-bdb7e89 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 1.75em;
    font-weight: bold;
}

.elementor-705 .elementor-element.elementor-element-bdb7e89>.elementor-widget-container {
    padding: 1em 2em 1em 2em;
    background-color: var( --e-global-color-934e477);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 30px 00px 30px 00px;
}

.elementor-705 .elementor-element.elementor-element-bdb7e89 {
    width: auto;
    max-width: auto;
}

.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-text-icon-wrapper i,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-text-icon-wrapper svg {
    margin-right: 15px;
}

.elementor-705 .elementor-element.elementor-element-5dd895d .elementor-widget-container {
    text-align: right;
}

.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button {
    font-size: var( --e-global-typography-8157cbb-font-size);
    font-weight: var( --e-global-typography-8157cbb-font-weight);
    line-height: var( --e-global-typography-8157cbb-line-height);
    letter-spacing: var( --e-global-typography-8157cbb-letter-spacing);
    word-spacing: var( --e-global-typography-8157cbb-word-spacing);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button .premium-button-text-icon-wrapper span {
    color: var( --e-global-color-934e477);
}

.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-text-icon-wrapper i {
    color: var( --e-global-color-934e477);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-text-icon-wrapper svg {
    fill: var( --e-global-color-934e477);
    color: var( --e-global-color-934e477);
}

.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button.premium-button-style2-shutinhor:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button.premium-button-style2-shutinver:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style5-radialin:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style5-rectin:before {
    background-color: #F39347;
}

.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-text-icon-wrapper span {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-none:hover,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style1:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style2-shutouthor:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style2-shutoutver:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style2-shutinhor,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style2-shutinver,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style2-dshutinhor:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style2-dshutinver:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style2-scshutouthor:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style2-scshutoutver:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style3-after:hover,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style3-before:hover,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style4-icon-wrapper,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style5-radialin,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style5-radialout:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style5-rectin,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style5-rectout:before,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style6-bg,
.elementor-705 .elementor-element.elementor-element-5dd895d .premium-button-style6:before {
    background-color: var( --e-global-color-primary);
}

.elementor-705 .elementor-element.elementor-element-5dd895d>.elementor-widget-container {
    margin: -1.5em 0em 0em 0em;
}

.elementor-705 .elementor-element.elementor-element-cc3648f:not(.elementor-motion-effects-element-type-background),
.elementor-705 .elementor-element.elementor-element-cc3648f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(270deg, #333333 0%, #666666 100%);
}

.elementor-705 .elementor-element.elementor-element-cc3648f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0em 5em 0em 5em;
}

.elementor-705 .elementor-element.elementor-element-cc3648f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-705 .elementor-element.elementor-element-8b6ce96.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-705 .elementor-element.elementor-element-8b6ce96.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-705 .elementor-element.elementor-element-8b6ce96>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-705 .elementor-element.elementor-element-8b6ce96>.elementor-element-populated {
    padding: 1em 1em 1em 1em;
}

.elementor-705 .elementor-element.elementor-element-7d75207 .elementor-heading-title {
    color: #CCCCCC;
    font-family: "Roboto", Sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    font-style: italic;
    line-height: 1.25em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.elementor-bc-flex-widget .elementor-705 .elementor-element.elementor-element-259063b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-705 .elementor-element.elementor-element-259063b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-705 .elementor-element.elementor-element-259063b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px;
}

.elementor-705 .elementor-element.elementor-element-259063b>.elementor-element-populated {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.elementor-705 .elementor-element.elementor-element-9f1997e img {
    max-width: 80%;
    opacity: 0.75;
}

.elementor-705 .elementor-element.elementor-element-9f1997e:hover img {
    opacity: 1;
}

.elementor-bc-flex-widget .elementor-705 .elementor-element.elementor-element-a40f9c6.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-705 .elementor-element.elementor-element-a40f9c6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-705 .elementor-element.elementor-element-a40f9c6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px;
}

.elementor-705 .elementor-element.elementor-element-a40f9c6>.elementor-element-populated {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.elementor-705 .elementor-element.elementor-element-710af39 img {
    max-width: 80%;
    opacity: 0.75;
}

.elementor-705 .elementor-element.elementor-element-710af39:hover img {
    opacity: 1;
}

.elementor-705 .elementor-element.elementor-element-c14e44f>.elementor-container {
    max-width: 1080px;
}

.elementor-705 .elementor-element.elementor-element-c14e44f {
    padding: 8em 4em 4em 4em;
}

.elementor-705 .elementor-element.elementor-element-62ca6d1.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-705 .elementor-element.elementor-element-62ca6d1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-705 .elementor-element.elementor-element-cb8c523 {
    animation-duration: 2000ms;
    animation-delay: 500ms;
}

.elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta__content {
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 1.5em;
}

.elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta__button {
    font-family: "Roboto", Sans-serif;
}

.elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-705 .elementor-element.elementor-element-06ff4ac.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc( 1000ms / 3);
}

.elementor-705 .elementor-element.elementor-element-06ff4ac.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc( ( 1000ms / 3) * 2);
}

.elementor-705 .elementor-element.elementor-element-06ff4ac.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc( ( 1000ms / 3) * 3);
}

.elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #7F9BAB;
}

.elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta__bg-overlay {
    mix-blend-mode: multiply;
}

.elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta .elementor-cta__bg,
.elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-705 .elementor-element.elementor-element-1019145 {
    animation-duration: 2000ms;
    animation-delay: 1000ms;
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta__content {
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 1.5em;
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta__button {
    font-family: "Roboto", Sans-serif;
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc( 1000ms / 3);
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc( ( 1000ms / 3) * 2);
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc( ( 1000ms / 3) * 3);
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #7F9BAB;
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta__bg-overlay {
    mix-blend-mode: multiply;
}

.elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta .elementor-cta__bg,
.elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-705 .elementor-element.elementor-element-1e8733a {
    animation-duration: 2000ms;
    animation-delay: 500ms;
}

.elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta__content {
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.elementor-705 .elementor-element.elementor-element-1916840 .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 1.5em;
}

.elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta__button {
    font-family: "Roboto", Sans-serif;
}

.elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-705 .elementor-element.elementor-element-1916840.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc( 1000ms / 3);
}

.elementor-705 .elementor-element.elementor-element-1916840.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc( ( 1000ms / 3) * 2);
}

.elementor-705 .elementor-element.elementor-element-1916840.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc( ( 1000ms / 3) * 3);
}

.elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #7F9BAB;
}

.elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta__bg-overlay {
    mix-blend-mode: multiply;
}

.elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta .elementor-cta__bg,
.elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-705 .elementor-element.elementor-element-4d5c14b {
    animation-duration: 2000ms;
    animation-delay: 1000ms;
}

.elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta__content {
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.elementor-705 .elementor-element.elementor-element-4179f1d .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 1.5em;
}

.elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta__button {
    font-family: "Roboto", Sans-serif;
}

.elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-705 .elementor-element.elementor-element-4179f1d.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc( 1000ms / 3);
}

.elementor-705 .elementor-element.elementor-element-4179f1d.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc( ( 1000ms / 3) * 2);
}

.elementor-705 .elementor-element.elementor-element-4179f1d.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc( ( 1000ms / 3) * 3);
}

.elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #7F9BAB;
}

.elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta__bg-overlay {
    mix-blend-mode: multiply;
}

.elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta .elementor-cta__bg,
.elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-705 .elementor-element.elementor-element-8fe2909 {
    animation-duration: 2000ms;
    animation-delay: 500ms;
}

.elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta__content {
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 1.5em;
}

.elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta__button {
    font-family: "Roboto", Sans-serif;
}

.elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-705 .elementor-element.elementor-element-bd4a10b.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc( 1000ms / 3);
}

.elementor-705 .elementor-element.elementor-element-bd4a10b.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc( ( 1000ms / 3) * 2);
}

.elementor-705 .elementor-element.elementor-element-bd4a10b.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc( ( 1000ms / 3) * 3);
}

.elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #7F9BAB;
}

.elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta__bg-overlay {
    mix-blend-mode: multiply;
}

.elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta .elementor-cta__bg,
.elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-705 .elementor-element.elementor-element-4efea2f {
    animation-duration: 2000ms;
    animation-delay: 1000ms;
}

.elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta__content {
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.elementor-705 .elementor-element.elementor-element-b35504b .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 1.5em;
}

.elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta__button {
    font-family: "Roboto", Sans-serif;
}

.elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-705 .elementor-element.elementor-element-b35504b.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc( 1000ms / 3);
}

.elementor-705 .elementor-element.elementor-element-b35504b.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc( ( 1000ms / 3) * 2);
}

.elementor-705 .elementor-element.elementor-element-b35504b.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc( ( 1000ms / 3) * 3);
}

.elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #7F9BAB;
}

.elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta__bg-overlay {
    mix-blend-mode: multiply;
}

.elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta .elementor-cta__bg,
.elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-705 .elementor-element.elementor-element-bcdf6db {
    animation-duration: 2000ms;
    animation-delay: 500ms;
}

.elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta__content {
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-icon-wrapper {
    margin-bottom: 0px;
}

.elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta__title {
    font-family: "Roboto", Sans-serif;
    font-size: 1.5em;
}

.elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta__button {
    font-family: "Roboto", Sans-serif;
}

.elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-705 .elementor-element.elementor-element-37b2a28.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc( 1000ms / 3);
}

.elementor-705 .elementor-element.elementor-element-37b2a28.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc( ( 1000ms / 3) * 2);
}

.elementor-705 .elementor-element.elementor-element-37b2a28.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc( ( 1000ms / 3) * 3);
}

.elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: #7F9BAB;
}

.elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta__bg-overlay {
    mix-blend-mode: multiply;
}

.elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta .elementor-cta__bg,
.elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-705 .elementor-element.elementor-element-e8a1c1e {
    animation-duration: 2000ms;
    animation-delay: 1000ms;
}

.eael-ext-scroll-to-top-wrap .eael-ext-scroll-to-top-button {
    bottom: 3em;
    right: 1.5em;
    width: 50px;
    height: 50px;
    z-index: 9999;
    opacity: 0.5;
    background-color: #7F9BAB;
    border-radius: 5px;
}

.eael-ext-scroll-to-top-wrap .eael-ext-scroll-to-top-button i {
    font-size: 25px;
    color: #ffffff;
}

.eael-ext-scroll-to-top-wrap .eael-ext-scroll-to-top-button svg {
    width: 32px;
    height: 32px;
    fill: #ffffff;
}

@media(max-width:1024px) {
    .elementor-705 .elementor-element.elementor-element-b798321>.elementor-container {
        min-height: 450px;
    }
    .elementor-705 .elementor-element.elementor-element-4d1df3c>.elementor-element-populated {
        padding: 3em 3em 3em 3em;
    }
    .elementor-705 .elementor-element.elementor-element-4d1df3c {
        min-height: 450px;
    }
    .elementor-705 .elementor-element.elementor-element-a8cdabb .elementor-heading-title {
        font-size: 2.5em;
    }
    .elementor-705 .elementor-element.elementor-element-a8cdabb>.elementor-widget-container {
        padding: 0% 20% 0% 0%;
    }
    .elementor-705 .elementor-element.elementor-element-45da057 .elementor-heading-title {
        font-size: 1.5em;
    }
    .elementor-705 .elementor-element.elementor-element-45da057>.elementor-widget-container {
        margin: 0em 0em 1em 0em;
        padding: 0% 0% 0% 0%;
    }
    .elementor-705 .elementor-element.elementor-element-bdb7e89 .elementor-heading-title {
        font-size: 1.25em;
    }
    .elementor-705 .elementor-element.elementor-element-bdb7e89>.elementor-widget-container {
        padding: 1em 2em 1em 2em;
    }
    .elementor-705 .elementor-element.elementor-element-5dd895d .premium-button {
        font-size: var( --e-global-typography-8157cbb-font-size);
        line-height: var( --e-global-typography-8157cbb-line-height);
        letter-spacing: var( --e-global-typography-8157cbb-letter-spacing);
        word-spacing: var( --e-global-typography-8157cbb-word-spacing);
        padding: 0.75em 1em 0.75em 1em;
    }
    .elementor-705 .elementor-element.elementor-element-5dd895d>.elementor-widget-container {
        margin: 1em 0em 0em 0em;
    }
    .elementor-705 .elementor-element.elementor-element-cc3648f {
        padding: 0.5em 3em 0.5em 3em;
    }
    .elementor-705 .elementor-element.elementor-element-8b6ce96>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
    .elementor-705 .elementor-element.elementor-element-8b6ce96>.elementor-element-populated {
        padding: 0em 1em 0em 0em;
    }
    .elementor-705 .elementor-element.elementor-element-7d75207 .elementor-heading-title {
        font-size: 0.8em;
    }
    .elementor-705 .elementor-element.elementor-element-c14e44f>.elementor-container {
        max-width: 600px;
    }
    .elementor-705 .elementor-element.elementor-element-c14e44f {
        padding: 4em 2em 2em 2em;
    }
    .elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta__content {
        min-height: 20vh;
    }
    .elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta__title {
        font-size: 1.25em;
    }
    .elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta__content {
        min-height: 20vh;
    }
    .elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta__title {
        font-size: 1.25em;
    }
    .elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta__content {
        min-height: 20vh;
    }
    .elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta__title {
        font-size: 1.25em;
    }
    .elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta__content {
        min-height: 20vh;
    }
    .elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta__title {
        font-size: 1.25em;
    }
    .elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta__content {
        min-height: 20vh;
    }
    .elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta__title {
        font-size: 1.25em;
    }
    .elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta__content {
        min-height: 20vh;
    }
    .elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta__title {
        font-size: 1.25em;
    }
    .elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta__content {
        min-height: 20vh;
    }
    .elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta__title {
        font-size: 1.25em;
    }
}

@media(max-width:767px) {
    .elementor-705 .elementor-element.elementor-element-b798321>.elementor-container {
        min-height: 400px;
    }
    .elementor-705 .elementor-element.elementor-element-4d1df3c>.elementor-element-populated {
        padding: 1.5em 1.5em 1.5em 1.5em;
    }
    .elementor-705 .elementor-element.elementor-element-4d1df3c {
        min-height: 400px;
    }
    .elementor-705 .elementor-element.elementor-element-a8cdabb {
        text-align: center;
    }
    .elementor-705 .elementor-element.elementor-element-a8cdabb .elementor-heading-title {
        font-size: 2em;
    }
    .elementor-705 .elementor-element.elementor-element-a8cdabb>.elementor-widget-container {
        padding: 0% 0% 0% 0%;
    }
    .elementor-705 .elementor-element.elementor-element-45da057 {
        text-align: center;
    }
    .elementor-705 .elementor-element.elementor-element-45da057 .elementor-heading-title {
        font-size: 1.35em;
    }
    .elementor-705 .elementor-element.elementor-element-45da057>.elementor-widget-container {
        margin: 0em 0em 1em 0em;
        padding: 0% 0% 0% 0%;
    }
    .elementor-705 .elementor-element.elementor-element-bdb7e89 {
        text-align: center;
    }
    .elementor-705 .elementor-element.elementor-element-bdb7e89 .elementor-heading-title {
        font-size: 1em;
    }
    .elementor-705 .elementor-element.elementor-element-bdb7e89>.elementor-widget-container {
        padding: 0.5em 1em 0.5em 1em;
        border-radius: 30px 0px 30px 0px;
    }
    .elementor-705 .elementor-element.elementor-element-5dd895d .elementor-widget-container {
        text-align: center;
    }
    .elementor-705 .elementor-element.elementor-element-5dd895d .premium-button {
        font-size: var( --e-global-typography-8157cbb-font-size);
        line-height: var( --e-global-typography-8157cbb-line-height);
        letter-spacing: var( --e-global-typography-8157cbb-letter-spacing);
        word-spacing: var( --e-global-typography-8157cbb-word-spacing);
    }
    .elementor-705 .elementor-element.elementor-element-cc3648f {
        padding: 0.5em 1em 0.5em 1em;
    }
    .elementor-705 .elementor-element.elementor-element-8b6ce96 {
        width: 100%;
    }
    .elementor-705 .elementor-element.elementor-element-8b6ce96>.elementor-element-populated {
        padding: 0em 0.5em 0.25em 0.5em;
    }
    .elementor-705 .elementor-element.elementor-element-9f1997e {
        text-align: left;
        width: auto;
        max-width: auto;
    }
    .elementor-705 .elementor-element.elementor-element-9f1997e img {
        max-width: 200px;
    }
    .elementor-705 .elementor-element.elementor-element-710af39 {
        text-align: left;
        width: auto;
        max-width: auto;
    }
    .elementor-705 .elementor-element.elementor-element-710af39 img {
        max-width: 222px;
    }
    .elementor-705 .elementor-element.elementor-element-710af39>.elementor-widget-container {
        padding: 0px 0px 0px 1px;
    }
    .elementor-705 .elementor-element.elementor-element-c14e44f {
        padding: 2em 0.5em 1em 0.5em;
    }
    .elementor-705 .elementor-element.elementor-element-cb8c523 {
        width: 50%;
    }
    .elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta__title {
        font-size: 1em;
    }
    .elementor-705 .elementor-element.elementor-element-06ff4ac .elementor-cta__button {
        font-size: 0.8em;
    }
    .elementor-705 .elementor-element.elementor-element-1019145 {
        width: 50%;
    }
    .elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta__title {
        font-size: 1em;
    }
    .elementor-705 .elementor-element.elementor-element-a4bcb8f .elementor-cta__button {
        font-size: 0.8em;
    }
    .elementor-705 .elementor-element.elementor-element-1e8733a {
        width: 50%;
    }
    .elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta__title {
        font-size: 1em;
    }
    .elementor-705 .elementor-element.elementor-element-1916840 .elementor-cta__button {
        font-size: 0.8em;
    }
    .elementor-705 .elementor-element.elementor-element-4d5c14b {
        width: 50%;
    }
    .elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta__title {
        font-size: 1em;
    }
    .elementor-705 .elementor-element.elementor-element-4179f1d .elementor-cta__button {
        font-size: 0.8em;
    }
    .elementor-705 .elementor-element.elementor-element-8fe2909 {
        width: 50%;
    }
    .elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta__title {
        font-size: 1em;
    }
    .elementor-705 .elementor-element.elementor-element-bd4a10b .elementor-cta__button {
        font-size: 0.8em;
    }
    .elementor-705 .elementor-element.elementor-element-4efea2f {
        width: 50%;
    }
    .elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta__title {
        font-size: 1em;
    }
    .elementor-705 .elementor-element.elementor-element-b35504b .elementor-cta__button {
        font-size: 0.8em;
    }
    .elementor-705 .elementor-element.elementor-element-bcdf6db {
        width: 50%;
    }
    .elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta__title {
        font-size: 1em;
    }
    .elementor-705 .elementor-element.elementor-element-37b2a28 .elementor-cta__button {
        font-size: 0.8em;
    }
    .elementor-705 .elementor-element.elementor-element-e8a1c1e {
        width: 50%;
    }
}