.elementor-725 .elementor-element.elementor-element-f9c159b>.elementor-container {
    max-width: 1080px;
    min-height: 300px;
}

.elementor-725 .elementor-element.elementor-element-f9c159b:not(.elementor-motion-effects-element-type-background),
.elementor-725 .elementor-element.elementor-element-f9c159b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../banner_blank.jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-725 .elementor-element.elementor-element-f9c159b>.elementor-background-overlay {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    mix-blend-mode: overlay;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-725 .elementor-element.elementor-element-f9c159b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-725 .elementor-element.elementor-element-b8cf64c>.elementor-element-populated {
    padding: 2em 2em 2em 2em;
}

.elementor-725 .elementor-element.elementor-element-5becd0f .elementor-heading-title {
    color: var( --e-global-color-934e477);
    font-family: "Roboto", Sans-serif;
    font-size: 3em;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.elementor-725 .elementor-element.elementor-element-5becd0f>.elementor-widget-container {
    padding: 0% 20% 0% 0%;
}

.elementor-725 .elementor-element.elementor-element-43e4bbf>.elementor-container {
    max-width: 960px;
}

.elementor-725 .elementor-element.elementor-element-43e4bbf {
    padding: 8em 4em 8em 4em;
}

.elementor-725 .elementor-element.elementor-element-c5db115.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-725 .elementor-element.elementor-element-c5db115>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-725 .elementor-element.elementor-element-dfcd9a8 {
    text-align: center;
}

.elementor-725 .elementor-element.elementor-element-dfcd9a8 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 2.1em;
    line-height: 1.25em;
}

.elementor-725 .elementor-element.elementor-element-d5a1711 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-725 .elementor-element.elementor-element-d5a1711 .elementor-divider-separator {
    width: 80%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-725 .elementor-element.elementor-element-d5a1711 .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-725 .elementor-element.elementor-element-0b14267 {
    text-align: center;
    width: auto;
    max-width: auto;
}

.elementor-725 .elementor-element.elementor-element-0b14267 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 1.75em;
    font-weight: 400;
    line-height: 1.25em;
}

.elementor-725 .elementor-element.elementor-element-7f4fbfe {
    text-align: center;
    width: auto;
    max-width: auto;
}

.elementor-725 .elementor-element.elementor-element-7f4fbfe .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 1.75em;
    font-weight: 400;
    line-height: 1.25em;
}

.elementor-725 .elementor-element.elementor-element-7ae0d98 {
    text-align: center;
}

.elementor-725 .elementor-element.elementor-element-7ae0d98 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    line-height: 1.25em;
}

.elementor-725 .elementor-element.elementor-element-7ae0d98>.elementor-widget-container {
    margin: 2em 0em 4em 0em;
}

.elementor-725 .elementor-element.elementor-element-8308df6 {
    text-align: justify;
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 1.2em;
    line-height: 1.25em;
}

.elementor-725 .elementor-element.elementor-element-fe547e3 {
    text-align: justify;
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 1.2em;
    line-height: 1.25em;
}

.elementor-725 .elementor-element.elementor-element-65a4606 {
    text-align: justify;
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 1.2em;
    line-height: 1.25em;
}

@media(min-width:1025px) {
    .elementor-725 .elementor-element.elementor-element-f9c159b:not(.elementor-motion-effects-element-type-background),
    .elementor-725 .elementor-element.elementor-element-f9c159b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-725 .elementor-element.elementor-element-f9c159b>.elementor-container {
        min-height: 180px;
    }
    .elementor-725 .elementor-element.elementor-element-b8cf64c.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-725 .elementor-element.elementor-element-5becd0f .elementor-heading-title {
        font-size: 2em;
    }
    .elementor-725 .elementor-element.elementor-element-43e4bbf {
        padding: 4em 2em 4em 2em;
    }
    .elementor-725 .elementor-element.elementor-element-dfcd9a8 .elementor-heading-title {
        font-size: 1.35em;
    }
    .elementor-725 .elementor-element.elementor-element-d5a1711 .elementor-divider-separator {
        width: 74%;
    }
    .elementor-725 .elementor-element.elementor-element-0b14267 .elementor-heading-title {
        font-size: 1.25em;
    }
    .elementor-725 .elementor-element.elementor-element-7f4fbfe .elementor-heading-title {
        font-size: 1.25em;
    }
    .elementor-725 .elementor-element.elementor-element-7ae0d98 .elementor-heading-title {
        font-size: 1em;
    }
    .elementor-725 .elementor-element.elementor-element-7ae0d98>.elementor-widget-container {
        margin: 1em 0em 2em 0em;
    }
    .elementor-725 .elementor-element.elementor-element-8308df6 {
        font-size: 1em;
    }
    .elementor-725 .elementor-element.elementor-element-fe547e3 {
        font-size: 1em;
    }
    .elementor-725 .elementor-element.elementor-element-65a4606 {
        font-size: 1em;
    }
}

@media(max-width:767px) {
    .elementor-725 .elementor-element.elementor-element-f9c159b>.elementor-container {
        min-height: 120px;
    }
    .elementor-725 .elementor-element.elementor-element-5becd0f .elementor-heading-title {
        font-size: 1.5em;
    }
    .elementor-725 .elementor-element.elementor-element-43e4bbf {
        padding: 2em 0.5em 2em 0.5em;
    }
    .elementor-725 .elementor-element.elementor-element-dfcd9a8 .elementor-heading-title {
        font-size: 1em;
    }
    .elementor-725 .elementor-element.elementor-element-dfcd9a8>.elementor-widget-container {
        padding: 0em 2em 0em 2em;
    }
    .elementor-725 .elementor-element.elementor-element-d5a1711 .elementor-divider-separator {
        width: 75%;
    }
    .elementor-725 .elementor-element.elementor-element-0b14267 .elementor-heading-title {
        font-size: 0.85em;
    }
    .elementor-725 .elementor-element.elementor-element-0b14267>.elementor-widget-container {
        padding: 0em 2em 0em 2em;
    }
    .elementor-725 .elementor-element.elementor-element-7f4fbfe .elementor-heading-title {
        font-size: 0.85em;
    }
    .elementor-725 .elementor-element.elementor-element-7f4fbfe>.elementor-widget-container {
        padding: 0em 2em 0em 2em;
    }
    .elementor-725 .elementor-element.elementor-element-7ae0d98 .elementor-heading-title {
        font-size: 0.85em;
    }
    .elementor-725 .elementor-element.elementor-element-8308df6 {
        font-size: 0.85em;
    }
    .elementor-725 .elementor-element.elementor-element-fe547e3 {
        text-align: justify;
        font-size: 0.85em;
    }
    .elementor-725 .elementor-element.elementor-element-65a4606 {
        text-align: justify;
        font-size: 0.85em;
    }
}