.elementor-7 .elementor-element.elementor-element-54a26d6>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-7 .elementor-element.elementor-element-54a26d6:not(.elementor-motion-effects-element-type-background),
.elementor-7 .elementor-element.elementor-element-54a26d6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-934e477);
}

.elementor-7 .elementor-element.elementor-element-54a26d6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-54a26d6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-99ffd65.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-7 .elementor-element.elementor-element-99ffd65.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-7 .elementor-element.elementor-element-99ffd65.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-7 .elementor-element.elementor-element-99ffd65>.elementor-element-populated {
    padding: 1em 0em 1em 0em;
}

.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-6da8070.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-7 .elementor-element.elementor-element-6da8070.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-7 .elementor-element.elementor-element-6da8070.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-7 .elementor-element.elementor-element-6da8070>.elementor-element-populated {
    padding: 1em 0em 1em 0em;
}

.elementor-7 .elementor-element.elementor-element-2151017.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-7 .elementor-element.elementor-element-d296296 {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-vertical .aux-menu-depth-0 .aux-item-content {
    text-align: left;
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-menu-depth-0>.aux-item-content {
    color: var( --e-global-color-0f97812);
    font-family: "Poppins", Sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5em;
    padding: 0px 15px 0px 15px;
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-menu-depth-0.aux-hover>.aux-item-content {
    color: var( --e-global-color-primary);
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-menu-depth-0.aux-hover>.aux-item-content {
    text-shadow: 1px 1px 5px rgba(59.00000000000001, 139, 202.00000000000003, 0.25);
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-menu-depth-0.current-menu-item>a {
    color: var( --e-global-color-primary);
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-menu-item.aux-open>.aux-submenu {
    background-color: var( --e-global-color-320ef32);
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-submenu .aux-menu-item .aux-item-content {
    color: var( --e-global-color-primary);
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-submenu .aux-menu-item {
    font-family: "Poppins", Sans-serif;
    font-size: 1.1em;
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-submenu .aux-menu-item.aux-hover .aux-item-content {
    color: var( --e-global-color-934e477);
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-menu-depth-0>.aux-submenu>.aux-menu-item.aux-hover>.aux-item-content {
    text-shadow: 1px 1px 10px #3B8BCA;
    background-color: var( --e-global-color-3fa2a9c);
}

.elementor-7 .elementor-element.elementor-element-d296296 .aux-burger:before,
.elementor-7 .elementor-element.elementor-element-d296296 .aux-burger:after,
.elementor-7 .elementor-element.elementor-element-d296296 .aux-burger .mid-line {
    border-color: var( --e-global-color-0f97812);
}

.elementor-7 .elementor-element.elementor-element-d296296>.elementor-widget-container {
    padding: 1em 1em 1em 1em;
}

@media(max-width:1024px) {
    .elementor-7 .elementor-element.elementor-element-99ffd65.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-7 .elementor-element.elementor-element-99ffd65>.elementor-element-populated {
        padding: 0.5em 0.5em 0.5em 0.5em;
    }
    .elementor-7 .elementor-element.elementor-element-6da8070.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-7 .elementor-element.elementor-element-6da8070>.elementor-element-populated {
        padding: 0.5em 0.5em 0.5em 0.5em;
    }
    .elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-2151017.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-7 .elementor-element.elementor-element-2151017.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-7 .elementor-element.elementor-element-2151017.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-7 .elementor-element.elementor-element-2151017>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
    .elementor-7 .elementor-element.elementor-element-2151017>.elementor-element-populated {
        padding: 1em 1em 1em 1em;
    }
    .elementor-7 .elementor-element.elementor-element-d296296 {
        text-align: left;
        width: auto;
        max-width: auto;
    }
    .elementor-7 .elementor-element.elementor-element-d296296 .aux-vertical .aux-menu-depth-0 .aux-item-content {
        text-align: left;
    }
    .elementor-7 .elementor-element.elementor-element-d296296 .aux-menu-depth-0>.aux-item-content {
        padding: 6px 4px 6px 4px;
    }
    .elementor-7 .elementor-element.elementor-element-d296296 .aux-submenu .aux-menu-item .aux-item-content {
        padding: 12.5px 15px 12.5px 25px;
    }
    .elementor-7 .elementor-element.elementor-element-d296296>.elementor-widget-container {
        padding: 1em 1em 1em 1em;
    }
}

@media(max-width:767px) {
    .elementor-7 .elementor-element.elementor-element-99ffd65 {
        width: 40%;
    }
    .elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-99ffd65.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-7 .elementor-element.elementor-element-99ffd65.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-7 .elementor-element.elementor-element-99ffd65.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-7 .elementor-element.elementor-element-6da8070 {
        width: 40%;
    }
    .elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-6da8070.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-7 .elementor-element.elementor-element-6da8070.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-7 .elementor-element.elementor-element-6da8070.elementor-column>.elementor-widget-wrap {
        justify-content: space-between;
    }
    .elementor-7 .elementor-element.elementor-element-2151017 {
        width: 20%;
    }
    .elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-2151017.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-7 .elementor-element.elementor-element-2151017.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-7 .elementor-element.elementor-element-2151017.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-7 .elementor-element.elementor-element-d296296 {
        text-align: left;
        width: auto;
        max-width: auto;
    }
    .elementor-7 .elementor-element.elementor-element-d296296 .aux-vertical .aux-menu-depth-0 .aux-item-content {
        text-align: left;
    }
    .elementor-7 .elementor-element.elementor-element-d296296 .aux-menu-depth-0>.aux-item-content {
        padding: 6px 4px 6px 4px;
    }
    .elementor-7 .elementor-element.elementor-element-d296296 .aux-submenu .aux-menu-item .aux-item-content {
        padding: 10px 15px 10px 25px;
    }
    .elementor-7 .elementor-element.elementor-element-d296296>.elementor-widget-container {
        padding: 0.5em 0.5em 0.5em 0.5em;
    }
}