/* content title  */
#title
{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

/* tab menu */
.nav-tabs
{
	margin: 0 auto;
	text-align: center;
}

.nav-tabs > li
{
	display: inline-block;
	float: none;
	padding: 0;
	font-size: 18px;
	font-weight: 600;
}

.nav-tabs > li.active
{
	border-bottom: 3px solid #23a8f5;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus
{
	display: block;
	width: 100%;
	border: none;
	background: #ffffff;
}

/* content */
.tab-content
{
	margin: 0 150px;
	min-height: 500px;
}

.tab-content > .tab-pane
{
	padding: 20px 10px;
}

.tab-content .call-for-papers-view > .topics > li,
.tab-content .paper-submission-view > .submission-detail > li,
.tab-content .paper-submission-view > .important-dates > li
{
	padding: 4px 0;
	font-size: 16px;
}

.tab-content .paper-submission-view > .submission-detail > li > a,
.tab-content .paper-submission-view > .important-dates > li > a
{
	font-size: 18px;
	font-weight: 600;
}


/* responsive css */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
/* 默认样式为大屏幕 */

/* 中等屏幕（桌面显示器，大于等于 992px，小于1200px） */
@media (max-width: 1200px) { 

}

/* 小屏幕（平板，大于等于 768px，小于等于992px） */
@media (max-width: 992px) {
	.tab-content
	{
		margin: 0 50px;
	}
}

/* 	超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
	#title
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.nav-tabs > li
	{
		font-size: 14px;
	}

	.tab-content
	{
		margin: 0 5px;
	}

	#cfp_sub_title,
	#ps_sub_title
	{
		font-size: 20px;
	}
}