/* content title  */
#title
{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

/* content */
.competition-item-content
{
	margin: 0 50px;
	padding: 0 80px;
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 16px;

    text-align: justify;
	text-justify: inter-ideograph;
}

.competition-item-content a
{
	font-size: 18px;
	font-weight: 600;
}

.competition-item-content > .competition-wechat
{
	max-width: 200px;
}

.competition-item-content > .competition-logo
{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	max-width: 500px;
	text-align: center;
}

.competition-item-content > .table-title
{
	margin: 25px 0;
	text-align: center;
	font-size: 20px;
	line-height: 25px;
}

.competition-item-content > .table-responsive > table .tr-even 
{

}

.competition-item-content > .table-responsive > table td
{
	font-size: 16px;
	line-height: 24px;
	height: 46px;
	padding: 10px;
	text-align: center;
}

.competition-item-content > .table-responsive > table td.item
{
	width: 100px;
}

.competition-item-content > .table-responsive > table td.key-point,
.competition-item-content > .table-responsive > table td.prize-detail
{
	text-align: left;
}
.competition-item-content > .table-responsive > table thead td.key-point,
.competition-item-content > .table-responsive > table thead td.prize-detail
{
	text-align: center;
}

.competition-item-content > .table-responsive > table td.key-point li,
.competition-item-content > .table-responsive > table td.prize-detail li
{
	padding: 4px 0px;
	font-size: 16px;
}

.competition-item-content > .table-responsive > table td.score
{
	width: 70px;
}

.competition-item-content > .table-responsive > table td.prize
{
	width: 100px;
}

.competition-item-content > .table-responsive > table td.prize-num
{
	width: 70px;
}


/* responsive css */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
/* 默认样式为大屏幕 */

/* 中等屏幕（桌面显示器，大于等于 992px，小于1200px） */
@media (max-width: 1200px) { 
	.competition-item-content
	{
		margin-left: 60px;
		margin-right: 60px;
		padding: 0 50px;
	}
}

/* 小屏幕（平板，大于等于 768px，小于等于992px） */
@media (max-width: 992px) {
	.competition-item-content
	{
		margin-left: 40px;
		margin-right: 40px;
		padding: 0 30px;
	}
}

/* 	超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
	#title
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.row h2
	{
		font-size: 20px;
	}

	.row h3
	{
		font-size: 18px;
	}

	.competition-item-content
	{
		margin-left: 10px;
		margin-right: 10px;
		padding: 0 10px;
	}
}

