/* content title  */
#title
{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

/* content */
.contactus-content
{
	margin: 0 130px;
	padding: 0 150px;
    margin-bottom: 50px;
    line-height: 25px;
    font-size: 16px;
}

.sub-title
{
	margin-bottom: 50px;
	text-align: center;
	line-height: 30px;
}

.item-content
{
	margin-bottom: 50px;
	text-align: center;
}

.line
{
	position: relative;
  	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
}

.line span
{
	background: #ffffff;
  	padding: 0 15px;
  	position: relative;
  	z-index: 1;
}

.line i
{
  	color: #666;
  	margin-right: 10px;
}

.line:before
{
	background: #eeeeee;
  	content: "";
  	display: block;
  	height: 1px;
  	position: absolute;
  	top: 50%;
  	width: 100%;
}

/* responsive css */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
/* 默认样式为大屏幕 */

/* 中等屏幕（桌面显示器，大于等于 992px，小于1200px） */
@media (max-width: 1200px) { 
	.contactus-content
	{
		margin-left: 60px;
		margin-right: 60px;
		padding: 0 50px;
	}
}

/* 小屏幕（平板，大于等于 768px，小于等于992px） */
@media (max-width: 992px) {
	.contactus-content
	{
		margin-left: 40px;
		margin-right: 40px;
		padding: 0 30px;
	}
}

/* 	超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
	#title
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.row h2,
	.row h3
	{
		font-size: 20px;
	}

	.contactus-content
	{
		margin-left: 10px;
		margin-right: 10px;
		padding: 0 10px;
	}

	.sub-title,
	.item-content
	{
		margin-bottom: 30px;
	}

	.line span
	{
		font-size: 16px;
	}
}

