/* content title  */
#title
{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

/* content */
.research-camps-content
{
	margin: 0 130px;
	padding: 0 150px;
    margin-bottom: 100px;
    line-height: 25px;
    font-size: 16px;
}

.research-camps-content > p,
.research-camps-content > ul
{
	padding: 4px 20px;
	font-size: 16px;
}

.research-camps-content > ul > li
{
	padding: 4px 0px;
	font-size: 16px;
}

.research-camps-content .tutors > li > a,
.research-camps-content .registration > li > a
{
	font-size: 18px;
	font-weight: 600;
}


/* responsive css */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
/* 默认样式为大屏幕 */

/* 中等屏幕（桌面显示器，大于等于 992px，小于1200px） */
@media (max-width: 1200px) { 
	.research-camps-content
	{
		margin: 0 50px;
		padding: 0 60px;
	}
}

/* 小屏幕（平板，大于等于 768px，小于等于992px） */
@media (max-width: 992px) {
	.research-camps-content
	{
		margin: 0 30px;
		padding: 0 30px;
	}
}

/* 	超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
	#title
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.research-camps-content
	{
		margin: 0 10px;
		padding: 0 10px;
	}

	.research-camps-content h2
	{
		font-size: 20px;
	}
}